body {
    color: #d8dde2;
    background-color: #222831;
}

.logo {
    text-align: center;
}

.logo img {
    width: 350px;
    max-height: 100px;
}

pre code {
    color: #f8f8f2;
    background-color: #282a36;
    display: block;
    text-align: left;
    line-height: 1.45;
    margin: 0;
    padding: 16px;
    border-radius: 3px;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
}

code {
    color: #f8f8f2;
    background-color: #282a36;
    text-align: left;
    line-height: 1.45;
    margin: 0;
    padding: 2px;
    border-radius: 3px;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
}

pre.mermaid {
    background-color: white;
}

.d2-diagram {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin: 16px 0;
    text-align: center;
}

.d2-diagram svg {
    max-width: 100%;
    height: auto;
}

.d2-error {
    background-color: #ff4757 !important;
    color: white;
}

.rfd {
    padding: 20px;
    background-color: #393e46;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.2);
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.rfd h1,h2,h3,h4,h5 {
    color: #c7d5f6;
}

.rfd li+li {
    margin-top: 10px;
}

.rfd a {
    color: #2997ff;
    text-decoration-line: none;
}

.rfd .state {
    background-color: green;
    border-radius: 25px;
    padding: 8px;
}

.rfd img {
    max-width: 100%;
}

.rfd .anchor {
    visibility: hidden;
}

.rfd h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor {
    visibility: visible;
}

.lbtn .logo {
    height: 64px;
}

.lbtn .label {
    margin: auto !important;
}

.lbtn.lbtn-github {
    margin: 0 auto;
    cursor: pointer;
}

.lbtn.lbtn-github .logo {
    background-size: contain !important;
}

.lbtn.lbtn-rocketchat {
    margin: 0 auto;
    cursor: pointer;
}

.lbtn.lbtn-rocketchat .logo {
    background: url(/assets/rc-logo.svg);
    background-size: contain;
    filter: none !important;
}

.lbtn{flex-direction:row;
    font-size:14pt;
    font-weight:900;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    display:flex;
    height:64px;
    flex:initial;
    font-family:Roboto,sans-serif;
    margin:10px;
    width:300px
}

.lbtn.lbtn-flat{
    border-radius:2px;
    flex-direction:row;
    font-family:Roboto,sans-serif;
    font-size:14pt
}
