<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/oauth-buttons.css">
    <title>{{.siteName}}</title>
</head>

<body>
    <div class="main">
        <p><img src="/assets/logo.svg"></p>
        <p>An error occured</p>

        <p>Error ID: {{.requestId}}</p>

        <p>Please try again later. If this error persists please contact support and include the error ID above.</p>
    </div>
</body>

</html>