<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.siteName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>

<body>
    <div class="rfd">
        <div class="login-container">
            <div class="logo">
                <img src="/assets/logo.svg">
            </div>
            
            <div class="login-form-container">
                <h2 class="login-title">Welcome</h2>
                <p class="login-subtitle">Please sign in to continue</p>
                
                <form action="/oidc/login" method="get">
                    <input type="hidden" name="resume_url" value="{{.resumeUrl}}" /> 
                    <button class="submit-button" type="submit">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>