<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <title>{{.siteName}}</title>
</head>

<body>
    <div class="rfd ">
        <div class="logo"><a href="/"><img src="/assets/logo.svg"></a></div>
       
       <a href="{{.githubDevLink}}">Open in Github CodeSpace</a>

        Or checkout the {{.rfdNum}} branch locally to edit there.

        Don't forget to create a pull request when finished!
    </div>
</body>

</html>